footer.site-footer
  
  div Hosted on GitHub #[i.fa.fa-rebel] Fonts served via TypeKit #[i.fa.fa-rebel] View the Colophon

  include ../../partials/lastfm-widget

  div &copy; #{YEAR} Beau Charman &lt;3
