.container

  .group

    .block.grid-3
      img.site-title__photo(src="#{PATHS.IMAGES}/profile-image-2015.jpg")
      
    .block.grid-9
      h1.site-title__heading Beau Charman
      
      p.site-title__leading-paragraph 
        | Senior front-end developer at #[a(href="http://inlight.com.au/", title="Check out Inlight!", target="_blank") Inlight Media], 
        | #[a(href="http://youngprettiesband.bandcamp.com/", target="_blank") musician], environmental and animal rights evangelist, 
        | vegan, #[a(href="https://github.com/beaucharman", title="Beau's repos and contributions on GitHub", rel="exernal", target="_blank") CSS/JS writer], Japanese and physics enthusiast, #[a(href="https://www.strava.com/athletes/b347", target="_blank") avid cyclist], 
        | #[a(href="http://psnprofiles.com/acearcade", target="_blank") video gamer] and #[a(href="http://photographstakenbybeau.tumblr.com/", target="_blank") amateur photographer].
    
