@import "variables"
@import "nib"
normalize-css()
@import "layout"

// Components
@import "../components/site-title/index"
@import "../components/footer/index"
@import "../components/social-links/index"

*
  box-sizing border-box

body
  background-color $color-white
  font-size $base-font-size - 2
  font-family $body-font-family
  line-height $body-line-height
  color $color-dark-grey

  +above()
    font-size $base-font-size

h1, h2, h3, h4
  font-family $font-family-condensed
  font-weight $headings-font-weight
  line-height $headings-line-height

.page
  border-top 0.25rem solid $color-brand-primary

a
  &, &:link, &:visited
    color $color-brand-primary

  &:focus, &:hover
    color darken($color-brand-primary, 25%)

  +above()
    transition all 100ms cubic-bezier(0.77, 0, 0.175, 1)

img
  vertical-align middle
  max-width 100%
  height auto
