$container
  max-width $max-width
  padding-right $grid-gutter
  padding-left $grid-gutter
  margin 0 auto

.container
  @extends $container

.container--narrow
  @extends $container

  max-width $display-medium

.group
  margin-right -($grid-gutter)
  margin-left -($grid-gutter)

  &:after
    content ''
    display table
    clear both

.block
  float left
  width 100%
  min-height 1px
  padding-right $grid-gutter
  padding-left $grid-gutter

.grid-3
  +above()
    width percentage(3 / $grid-pattern)

.grid-4
  +above()
    width percentage(4 / $grid-pattern)

.grid-9
  +above()
    width percentage(9 / $grid-pattern)

.grid-6
  +above()
    width percentage(6 / $grid-pattern)
