extends ./_layout

block content

  h1 Beau Charman
  
  .container
    
    .row
      
      .column.grid-6
        p this is 
        
      .column.grid-6
        p a column
  
  img(src="#{PATHS.IMAGES}/profile-image-2015.jpg")
