extends ./layout/index

block content
  
  .page
    
    header.site-title
  
      include ../components/site-title/index
          
    section.social-links  

      .container--narrow

        .group
          
          include ../components/social-links/index
  
